<div class="bgded overlay row4" style="background-image:url('https://theexecutivesgazette.com/wp-content/uploads/2023/11/david-goggins.jpg');">
    <footer id="footer" class="hoc clear">
        <!-- ################################################################################################ -->
        <div class="one_quarter first">
            <h6 class="heading">صفحات مهم</h6>
            <ul class="nospace linklist">
                <li>
                    <a href="#">گاگینز 1</a>
                </li>
                <li>
                    <a href="#">گاگینز 2</a>
                </li>
                <li>
                    <a href="#">گاگینز 3</a>
                </li>
                <li>
                    <a href="#">گاگینز 4</a>
                </li>
                <li>
                    <a href="#">گاگینز 5</a>
                </li>
            </ul>
        </div>
        <div class="one_quarter">
            <h6 class="heading">ثبت نام در مجله ایملی ما</h6>
            <p class="nospace btmspace-15">با گذاشتن ایمیلتون بروزترین مقالات به شما ایملیل خواهند شد.</p>
            <form action="#" method="post">
                <fieldset>
                    <legend>Newsletter:</legend>
                    <input class="btmspace-15" type="text" value="" placeholder="Name">
                    <input class="btmspace-15" type="text" value="" placeholder="Email">
                    <button type="submit" value="submit">Submit</button>
                </fieldset>
            </form>
        </div>
        <div class="one_quarter">
            <h6 class="heading">دیوید گاگینز کی بود؟</h6>
            <ul class="nospace linklist">
                <li>
                    <article>
                        <p class="nospace btmspace-10">
                            <a href="#">دیوید گاگینز یک ورزشکار و نویسنده آمریکایی است که به عنوان یکی از سرسخت‌ترین مردان جهان شناخته می‌شود.</a>
                        </p>
                        <time class="block font-xs" datetime="2045-04-06">Friday, 6<sup>th</sup> April 2045</time>
                    </article>
                </li>
                <li>
                    <article>
                        <p class="nospace btmspace-10">
                            <a href="#">Consequat erat id rutrum nisi magna vel tellus phasellus malesuada bibendum.</a>
                        </p>
                        <time class="block font-xs" datetime="2045-04-05">Thursday, 5<sup>th</sup> April 2045</time>
                    </article>
                </li>
            </ul>
        </div>
        <div class="one_quarter">
            <h6 class="heading">Lacinia iaculis nunc</h6>
            <ul class="nospace clear latestimg">
                <li>
                    <a class="imgover" href="#">
                        <img src="images/demo/100x100.png" alt="">
                    </a>
                </li>
                <li>
                    <a class="imgover" href="#">
                        <img src="images/demo/100x100.png" alt="">
                    </a>
                </li>
                <li>
                    <a class="imgover" href="#">
                        <img src="images/demo/100x100.png" alt="">
                    </a>
                </li>
                <li>
                    <a class="imgover" href="#">
                        <img src="images/demo/100x100.png" alt="">
                    </a>
                </li>
                <li>
                    <a class="imgover" href="#">
                        <img src="images/demo/100x100.png" alt="">
                    </a>
                </li>
                <li>
                    <a class="imgover" href="#">
                        <img src="images/demo/100x100.png" alt="">
                    </a>
                </li>
                <li>
                    <a class="imgover" href="#">
                        <img src="images/demo/100x100.png" alt="">
                    </a>
                </li>
                <li>
                    <a class="imgover" href="#">
                        <img src="images/demo/100x100.png" alt="">
                    </a>
                </li>
                <li>
                    <a class="imgover" href="#">
                        <img src="images/demo/100x100.png" alt="">
                    </a>
                </li>
            </ul>
        </div>
        <!-- ################################################################################################ -->
    </footer>
</div>
<div class="wrapper row5">
    <div id="copyright" class="hoc clear">
        <!-- ################################################################################################ -->
        <p class="fl_left">Copyright &copy; 2018 - All Rights Reserved - <a href="#">Domain Name</a></p>
        <p class="fl_right">Template by <a target="_blank" href="https://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
        <!-- ################################################################################################ -->
    </div>
</div>
<a id="backtotop" href="#top">
    <i class="fas fa-chevron-up"></i>
</a>