<!DOCTYPE html>
<html lang="">
<partial name="_HeaderReferences"/>
<body id="top">
<partial name="_Header"/>
@RenderBody()
<partial name="_Footer"/>
<partial name="_FooterReferences"/>
</body>
</html>
@RenderBody()