<!doctype html>
<html lang="en">
<head>
    <partial name="_HeaderLinks"/>
</head><!-- [Head] end --><!-- [Body] Start -->
<body data-pc-preset="preset-1" data-pc-sidebar-caption="true" data-pc-layout="vertical" data-pc-direction="ltr" data-pc-theme_contrast="" data-pc-theme="light">
<partial name="_PreLoader"/>
<partial name="_SidebarMenu"/>
<header class="pc-header">
    <partial name="_Headers"/>
</header>
@RenderBody()
<partial name="_Footer"/>
<partial name="_FooterScripts"/>
</body>
</html>